.git
.github
node_modules
dist
.vercel
.env
.env.*
**/.env
**/.env.*
.dev.vars
**/.dev.vars
.skygrid
.skygrid/**
**/.skygrid/**
**/*.key
**/*.pem
**/*.p12
**/*.cer
**/*.certSigningRequest
*.log
coverage
.DS_Store
